#debugbartab-logger {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px !important;
    line-height: 25px !important;
}
.debug-badge {
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
}
.debug-channel {
    background-color: #343434;
    text-transform: uppercase;
}
